h1, h2, h3, li, p {
	font-family: 'Helvetica Neue', 'Tahoma';
	font-weight: 100;
	text-align: center;
}

h1 {
	font-size: 4em;
	padding: 15px;
	background-color: #00AAB5;
	margin-bottom: 0;
}

p {
	font-size: 1em;
}

li {
	list-style: none;
	cursor: pointer;
}

.canvas {
	display: inline-block;
	border: 1px solid;
	width: 100px;
	height: 100px;
	text-align: center;
	font-weight: 200;
	font-size: 100px;
	overflow: hidden;
}

.board {
	position: relative;
	text-align: right;
	padding: 30px;
	background-color: rgba(238,238,238,0.5);
	-webkit-transition: opacity 2s;
    transition: opacity 2s;
    font-size: 0;
}

.dimmed {
	opacity: 0;
}

.warning {
	border: 2px solid #EF504F;
	background-color: #EF504F;
	padding: 13px;
	margin: auto;
	color: #fff;
	font-weight: 200;
}

.player {
	font-weight: 200;
}

.winner {
	background-color: #A8BF12;
	border: 1px solid #aaa;
}

.lobby {
	position: relative;
	padding: 10px;
}

.lobby > li {
	text-align: left;
}